extend ../layout

block active_menu
    - var active_item = 'estacion';

block content
    .panel.panel-primary
        .panel-heading
            h3.panel-title #{title}
        .panel-body

            form.form-horizontal(action="#{siteUrl('estaciones/guardar/')}#{estacion && estacion._id != undefined ? estacion._id : ''}" method="POST")

                .form-group
                    .col-md-6
                        span.error-validation= error ? error.message : ''
                    .col-md-6
                        ul.action-panel
                            li
                                a.danger-text(href="#{siteUrl('estaciones')}")
                                    span.action-panel-icon.glyphicon.glyphicon-remove
                                    span.action-panel-text Atras
                            li
                                button.success-text(href="#{siteUrl('estaciones/nuevo')}")
                                    span.action-panel-icon.glyphicon.glyphicon-ok
                                    span.action-panel-text Guardar
                .row
                    .col-md-6
                        .form-group(id="nombre_block")
                            label.col-md-3(for="nombre") Nombre
                            .col-md-8
                                input.form-control.field-required(type="text" id="nombre" name="nombre" value="#{estacion ? estacion.nombre : ''}")
                                span.error-validation(id="nombre_error")

                        .form-group(id="status_block")
                            label.col-md-3(for="status") Estado
                            .col-md-8
                                select.form-control.field-required(id="status" name="status")
                                    option(value="")
                                    each estado in estados
                                        - if (estacion && estacion.status === estado.id)
                                            option(value="#{estado.id}" selected="selected")= estado.value
                                        - else
                                            option(value="#{estado.id}")= estado.value
                                span.error-validation(id="status_error")

                        .form-group
                            label.col-md-3(for="find_location") Ubicaci&oacute;n
                            .col-md-8
                                input.form-control(type="text" id="find_location" name="dir" value="#{estacion && estacion.dir !== undefined ? estacion.dir : ''}")

                        .form-group
                            label.col-md-3 Coordenadas
                            .col-md-4
                                input.form-control(type="text" id="lat" name="lat" value="#{estacion && estacion.coords !== undefined ? estacion.coords[0] : ''}" readonly="readonly")
                            .col-md-4
                                input.form-control(type="text" id="lng" name="lng" value="#{estacion && estacion.coords !== undefined ? estacion.coords[1] : ''}" readonly="readonly")

                    .col-md-6
                        .form-group
                            .col-md-12.text-center(id="gmaps" style="width: 95%; height: 300px; margin-left: 15px;")



block content_css
    link(rel='stylesheet', href='#{siteUrl("bower_components/Autocomplete/dist/autocomplete.css")}')
    style
        include form.css


block content_js
    script(src="http://maps.google.com/maps/api/js?key=no-key")
    script(src="#{siteUrl('bower_components/gmaps/gmaps.js')}")
    script(src="#{siteUrl('bower_components/requirejs/require.js')}")
    script
        include form.js
    script
        include location.js
